.pipeline-page {
    .wrapper {
        padding: 20px 0;
        background: #fff;
        display: flex;
        justify-content: space-between;

        .controlls {
            display: flex;
            justify-content: center;
            button, select {
                margin: 0 10px;
            }
        }
        
        > div:last-of-type {
            width: 45%;
            margin-right: 20px;
            .result {

            }
        }
    }
}